<article class="post">
  <div class="title">
    <a href="/dashboard/edit/{{id}}">{{title}}</a>
    <h4 class="post-info-span">{{post_body}}</h4>
  </div>
  <div class="meta">
    {{user.username}} on {{format_date created_at}}
    |
    <a href="/dashboard/edit/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>